.avatar {
    /* this sets default styles for everything in the avatar group */
    stroke-width: 5;
    fill: white;
    stroke: black;

}

.body {
    stroke-width: 5
}

.eye {
    stroke-width:2
}

.arm {
    fill: tan
}
.shoe {
    fill: black;
    stroke-width: 2
}

.left {
}

.right {
}

#head {
    fill: tan
}

#right-eye {
    fill: black
}

#left-eye {
    fill: black
}

#neck {
    fill: tan
}

#shirt {
    fill: blue
}

#cape {
    fill: red; 
}

#mouth {
}

#pants {
    fill: maroon
}

#left-arm {
}

#right-arm {
}

#left-shoe {
}

#right-shoe {
}
Raw
